# Configuração npm para monorepo

# Usar workspaces
enable-workspace=true

# Auto install peer dependencies
auto-install-peers=true

# Strict peer dependencies
strict-peer-dependencies=false

# Salvar exatas versões
save-exact=false
save-prefix=^

# Lockfile
lockfile=true

# Registry
registry=https://registry.npmjs.org/

# Hoist
hoist=true
hoist-pattern[]=*

# Logging
loglevel=info

